nav{
  background-color: khaki;
}

body{
  background-color:rgb(114, 168, 219);
}
table{
  background-color: white;
}

thead{
  background-color: grey;
}
tr{
  text-align: center;
}
form{
  background-color: mistyrose;
  border-radius: 1%;
}
footer{
  background-color: palegreen;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
nav:hover{
  background-color: plum;
}
pre{
    background-color: salmon;
}
